@import "tailwindcss/preflight";
@import "tailwindcss/utilities";

@font-face {
  font-family: "SerenityOS-Emoji";
  src: url("/SerenityOS-Emoji.ttf") format("truetype");
  font-display: swap;
}

.emoji {
  font-family: "SerenityOS-Emoji", system-ui, sans-serif;
}
